.contact{
	margin-top:1rem;
	overflow: hidden;
}
.contact h2{
	color:white;
}
.contact .detail span{
	color:white;
	font-size: 1.08rem;
	line-height: 1.6rem;
	font-weight: normal;
}

.contact .detail h3{
	color:white;
	font-size: 1.5rem;
	font-weight: normal;
}

.contact .detail a{
	font-size: 1.4rem;
	font-weight: normal;
	padding: 2rem;
}

.detail .content > div{

}

.detail a i{
	transition: all 0.3s ease;
}

.detail a:hover i{
	padding-left: 15px;
	transform: scale(1.2);
}

.contact .form .content > div{
	padding: 2rem 0;
	max-width: 500px;
	width:100%;
}

.contact .form .wrapper{
	padding: 2rem;
}

@media (max-width: 991px){
	.contact a{
		background: var(--light-gray);
	}
}