header{
  background-color: rgba(255,255,255, 1);
  padding:2rem 3rem;
  transition:all 0.5s;
  z-index: 100;
  max-height: 10vh;
  position: sticky;
  top:0;
}

header.hidden{
  top:-200px;
}

header .logo img{
  width:auto;
  max-height: 8vh;
  transition:all 0.3s;
}

@media (max-width: 575.98px){
  header .logo img{
    max-height: 6vh;
  }
}